
packaging==23.1
parso==0.8.3
pandas
pexpect==4.8.0
pickleshare==0.7.5
Pillow>=10.2.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
pygame
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
stack-data==0.6.2
sympy
torch
traitlets==5.9.0
typing_extensions
wcwidth==0.2.6
zipp==3.15.0
scipy